@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  cursor: url("./img/cursor.png"), auto;
}

/* button:hover,
ul:hover,
li:hover,
.header-element:hover {
  cursor: url("./img/pointer.png"), auto;
}

button > span:hover {
  cursor: url("./img/pointer.png"), auto;
} */

header *{
  content: "";
  cursor: url("./img/pointer.png") 16 0, auto;
}

/* .header-element::before,
.header-element::after {
  content: "";
  cursor: url("./img/pointer.png"), auto;
} */



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.page {
  background-color: #777;
}
/* * { outline: 2px solid rgba(255,0,0,.2); :hover { outline: 2px solid rgba(255,0,0,0.6); } } * * { outline: 2px solid rgba(0,255,0,.2); :hover { outline: 2px solid rgba(0,255,0,0.6); } } * * * { outline: 2px solid rgba(0,0,255,.2); :hover { outline: 2px solid rgba(0,0,255,0.6); } } * * * * { outline: 2px solid rgba(255,0,255,.2); :hover { outline: 2px solid rgba(255,0,0,0.6); } } * * * * * { outline: 2px solid rgba(0,255,255,.2); :hover { outline: 2px solid rgba(0,255,0,0.6); } } * * * * * * { outline: 2px solid rgba(255,255,0,.2); :hover { outline: 2px solid rgba(0,0,255,0.6); } } * * * * * * * { outline: 2px solid rgba(255,0,0,.2); :hover { outline: 2px solid rgba(255,0,0,0.6); } } * * * * * * * * { outline: 2px solid rgba(0,255,0,.2); :hover { outline: 2px solid rgba(0,255,0,0.6); } } * * * * * * * * * { outline: 2px solid rgba(0,0,255,.2); :hover { outline: 2px solid rgba(0,0,255,0.6); } }  */
